TickerTrends/TickerTrends.sln
TickerTrends/TickerTrends/TickerTrends.pyproj
TickerTrends/TickerTrends/__pycache__
TickerTrends/.vs
TickerTrends/TickerTrends.pyproj
TickerTrends/__pycache__/DiscordBot.cpython-37.pyc
TickerTrends/__pycache__/Ticker.cpython-37.pyc
TickerTrends/DiscordBot.py
